html {
    height: 100%;
    width: 100%;
}

div {
    border: solid 1px black;
}

#headerX, #headerY {
    background: whitesmoke;
    height: 33%;
    width: 33%;
    margin: 2%;
    font-size: 13px;
}

#x, #y {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
            "first second second"
            "first third forth"
            "first fifth forth"
            "sixth sixth sixth";
    grid-template-rows: 20% 8.3% 51.7% 20%;
    justify-items: stretch;
    background-color: cadetblue;
    height: 100%;
    width: 100%;
}

#first {
    display: flex;
    flex-direction: column;
    background-color: indianred;
    grid-area: first;
    align-items: center;
    justify-content: center;
}

#second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    grid-area: second;
}

#third {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: darkseagreen;
    grid-area: third;
}

#forth {
    background-color: darkseagreen;
    grid-area: forth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#fifth {
    background-color: whitesmoke;
    grid-area: fifth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sixth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    grid-area: sixth;
}

#image1 {
    height: 40%;
}

#image2, #image3 {
    width: 30%;
}

/*
h3 {
    margin-left: 5%;
}
*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_text{
    font-size: large;
    margin-right: 5%;
}